<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>eureka_webservice</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
  </listener>
  <context-param>
    <param-name>authtoken</param-name>
    <param-value>pmH89uwqihq6afWdjp80j5A0WpFggMl8nfG6ddWRjnaWv1N0FQtrPRdXU38</param-value>
  </context-param>
  <context-param>
    <param-name>posturl</param-name>
    <param-value>https://www.paypal.com/cgi-bin/webscr</param-value>
  </context-param>
  <context-param>
    <param-name>business</param-name>
    <param-value>boonhui.koh.2013@sis.smu.edu.sg</param-value>
  </context-param>
  <context-param>
    <param-name>returnurl</param-name>
    <param-value>http://localhost:8080/eureka_webservice/ProcessPaymentServlet</param-value>
  </context-param>
</web-app>