<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>eureka_webservice</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
  </listener>
  <context-param>
	  <param-name>authtoken</param-name>
	  <param-value>7DlfhKsEhy7Rvodx2Mr9lJHKTkrF1qeQFIIcb0eSbpJcOHSSRWCw7Q7koFW</param-value>
  </context-param>
  
  <context-param>
	  <param-name>posturl</param-name>
	  <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
  </context-param>
  
  <context-param>
	  <param-name>business</param-name>
	  <param-value>dabaomealorderapp@gmail.com</param-value>
  </context-param>
  
  <context-param>
	  <param-name>returnurl</param-name>
	  <param-value>http://localhost:8080/Paypal/index.jsp</param-value>
  </context-param>
</web-app>