<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>eureka_webservice</display-name>
  <welcome-file-list>
    <welcome-file>pages/login.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>authtoken</param-name>
    <param-value>4B9J31XgDu8aIN-pSKu9vjjYrIgJoJAXBvzX8OKft46l3vvHp0q_iD7M3lK</param-value>
  </context-param>
  <context-param>
    <param-name>posturl</param-name>
    <param-value>https://www.paypal.com/cgi-bin/webscr</param-value>
  </context-param>
  <context-param>
    <param-name>business</param-name>
    <param-value>admin@kohbus.sg</param-value>
  </context-param>
  <context-param>
    <param-name>returnurl</param-name>
    <param-value>http://eureka-arnono.rhcloud.com/eureka_webservice/ProcessPaymentServlet</param-value>
  </context-param>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  <error-page>
    <error-code>404</error-code>
    <location>/eureka_webservice/pages/404.jsp</location>
  </error-page>
</web-app>